/* === Variables === */

:root {
    --header-bg-color: #7FAFF6;
    --footer-bg-color: #7FAFF6;
    --open-btn-bg: #A5C7F9;
    --close-btn-bg: #7FAFF6;
    --body-bg-color: #C0DBD9;
    --popup-bg-color: #FFFFFF;
    --greens-bg-color: #B3F95A;
    --greens-content-bg: #8AD191;
    --blues-bg-color: #88B5BF;
    --blues-content-bg: #0D89B0;

    --text-color-light: #FFFFFF;
    --text-color-dark: #000000;

    --font-general: 'Roboto', sans-serif;
}

/* === /Variables === */

/* === General styles === */

.html {
    height: 100%;
}

.body {
    background-color: var(--body-bg-color);
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* align-content: start; */
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* === /General styles === */

/* === Header === */

.header__container {
    box-sizing: border-box;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    min-height: 100px;
    background-color: var(--header-bg-color);
    margin-bottom: 15px;
}

.header__button {
    display: block;
    padding: 8px 15px;
    background-color: var(--open-btn-bg);
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: var(--font-general);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: var(--text-color-light);
    text-decoration: none;
}

.header__button:hover {
    opacity: 0.9;
}

.header__button:active {
    opacity: 0.8;
}

.header__popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* === /Header === */

/* === Pop-up === */

#popup:target {
    opacity: 1;
    visibility: visible;
}

.popup-window {
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: var(--popup-bg-color);
    opacity: 0;
    visibility: hidden;
}

.popup-window__text {
    font-family: var(--font-general);
    color: var(--text-color-dark);
    font-weight: 400;
    font-size: 53px;
    line-height: 62px;
    text-align: center;
}

.popup-window__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
    font-family: var(--font-general);
    color: var(--text-color-light);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    background-color: var(--close-btn-bg);
    border: 1px solid transparent;
    border-radius: 5px;
    text-decoration: none;
}

.popup-window__close:hover {
    opacity: 0.9;
}

.popup-window__close:active {
    opacity: 0.7;
}

/* === /Pop-up === */

/* === Flexcards section === */

.flexcards {
    background-color: var(--greens-bg-color);
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 200px);
    min-height: 411px;
}

.flexcards__outer {
    margin-bottom: 15px;
}

.flexcards__content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-general);
    font-weight: 400;
    font-size: 53px;
    line-height: 62px;
    color: var(--text-color-light);
    background-color: var(--greens-content-bg);
}

.flexcards__content:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.flexcards__content:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.flexcards__content:nth-child(3) {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
.flexcards__content:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}

.flexcards__content:last-child {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}

/* === Gallery section === */

.gallery {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px;
    background-color: var(--blues-bg-color);
}

.gallery__outer {
    margin-bottom: 100px;
}

.gallery__content-wrapper {
    position: relative;
    width: 23%;
}

.gallery__content-wrapper::before {
    content: '';
    display: block;
    padding-top: 78%;
}

.gallery__content {   
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--blues-content-bg);
}

/* === /Blues section === */

/* === Footer === */

.footer__container {
    min-height: 100px;
    background-color: var(--footer-bg-color);
}

/* === /Footer === */


